@font-face {
	font-family: 'icons';
	src:url('../fonts/icomoon.eot?-gea9ss');
	src:url('../fonts/icomoon.eot?#iefix-gea9ss') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-gea9ss') format('truetype'),
		url('../fonts/icomoon.woff?-gea9ss') format('woff'),
		url('../fonts/icomoon.svg?-gea9ss#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrowl:before {
	content: "\e600";
}
.icon-arrowr:before {
	content: "\e601"; 
}
.icon-compass:before {
	content: "\e602";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-location:before {
	content: "\e604";
}
.icon-pinterest:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}
