// Change to watch in slow motion
$duration: 0.5s;
$toggled-size: 1;
$content-bg: #fff;
$white:#fff;

.navicon-button {
  display: inline-block;
  position: absolute;
  padding: 28px 20px;
  transition: $duration/2;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  .navicon:before,
  .navicon:after {
    transition: $duration/2;
  }
  &:hover {
    transition: $duration;
    opacity: 1;
    .navicon:before,
    .navicon:after {
      transition: $duration/2;
    }
    .navicon:before {
      top: 1.4rem;
    }
    .navicon:after {
      top: -1.4rem;
    }
  }
}
.navicon {
  position: relative;
  width: 35px;
  height: 2px;
  background: $content-bg;
  transition: $duration;
  border-radius: 2.5rem;
  &:before,
  &:after {
    display: block;
    content: "";
    height: 2px;
    width: 35px;
    background: $content-bg;
    position: absolute;
    z-index: -1;
    transition: $duration $duration/2;
    border-radius: 1rem;
  }
  &:before {
    top: 1.1rem;
  }
  &:after {
    top: -1.1rem;
  }
}
.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}
.open .navicon:before,
.open .navicon:after {
  transition: $duration;
}

/* Minus */
.open {
  transform: scale($toggled-size);
}

/* Arrows */
.open.larr .navicon,
.open.rarr .navicon,
.open.uarr .navicon {
  &:before,
  &:after {
    width: 1.5rem;
  }
  &:before {
    transform: rotate(35deg);
    transform-origin: left top;
  }
  &:after {
    transform: rotate(-35deg);
    transform-origin: left bottom;
  }
}
.open.uarr {
  transform: scale($toggled-size) rotate(90deg);
}

/* Arrows */
.open.rarr .navicon {
  &:before {
    transform: translate3d(1em,0,0) rotate(-35deg);
    transform-origin: right top;
  }
  &:after {
    transform: translate3d(1em,0,0) rotate(35deg);
    transform-origin: right bottom;
  }
}

/* × and + */
.open.plus,
.open.x {
  .navicon {
    background: transparent;
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
.open.plus {
  transform: scale($toggled-size) rotate(45deg);
}

/* customise + and - for mobile menu */
.nav-mob-link {
  .navicon {
    position: relative;
    width: 35px;
    height: 2px;
    &:before,
    &:after {
      height: 2px;
      width: 35px;
      background: $white;
    }
  }
  .open {
    transform: scale($toggled-size);
    .navicon {
      width: 35px;
      height: 2px;
      background: $white;
      &:before,
      &:after {
        height: 2px;
        width: 35px;
      }
    }
  }
  .open.plus,
  .open.x {
    .navicon {
      background: transparent;
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
  .open.plus {
    transform: scale($toggled-size) rotate(45deg);
  }
}
