
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

h3 {
  color: white;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

.main-sidebar {
position: absolute;
top: 0;
left: 0;
margin-top: 120px;
min-height: 100%;
width: 230px;
z-index: 810;
background-color: grey;
display: flex;
flex-direction: column;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}
.sidebar-menu>li.header {
  color: #4b646f;
  background: #1a2226;
}
.sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
  list-style-type: none;
  a {
    color: white;
  }
}

.user-panel {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
align-items: center;
.profile-image-wrapper {
  max-width: 100px;
  border-radius: 50%;
  overflow: hidden;
  .profile-image {
    width: 100%;
  }
}
.info {
  p {
    text-align: center;
  }
}
}
.skin-blue .sidebar-menu>li>a {
  border-left: 3px solid transparent;
}

.skin-blue .sidebar a {
  color: #b8c7ce;
}
.sidebar-menu li>a {
  position: relative;
}
.sidebar-menu>li>a {
  padding: 12px 5px 12px 15px;
  display: block;
}

.content-wrapper {
background-color: #555;
z-index: 800;
padding-left: 250px;
padding-top: 120px;
}
